header {
    background-color: #170019;
   
    padding: 0;
    text-align: center;
    z-index: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.header-container {
    height: 3.125rem;
    width: 100%;
    max-width: 87.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
}


.club-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 75rem;
}


.clubList {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}


.clubList__club {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clubList__club img:hover {
    transform: scale(1.3);
}


.badge-image {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
}


#menu {
    height: 3rem;
    width: 100%;
    background: #37003c;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the ul */
    padding: 0 1.5rem;
    z-index: 1;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative; /* For absolute positioning of logo */
}




.main-nav {
    width: 100%; /* Ensure full width */
    background-color: #37003c;
    display: flex;
    align-items: center;
    padding: 10px 40px; /* Increased side padding */
    position: relative;
    box-sizing: border-box; /* Include padding in width calculation */
    margin: 0; /* Ensure no margins */
}






.login {
    margin-left: auto;
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}




.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}






.home-logo {
    width: 3.5rem;
    object-fit: contain;
 
    height: 80px;
    width: auto;
    position: absolute;
    z-index: 2;
    left: 0.5rem; /* Align to left edge */
    margin: 19px auto 0; /* Kéo logo lên phủ lên menu */
   
    transform: translateY(-50%);
}


.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #00ff85, #0ff);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}


.nav-link:hover::after {
    transform: scaleX(1);
}


.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.logo {
    width: 60px;
    margin-right: 20px;
}


.nav-item {
    margin-right: 20px;
    position: relative;
    left: -23.5rem;
}


.search-icon {
    color: white;
    font-size: 20px;
    margin-left: 15px;
}


.sticky-nav-container {
    width: 100%; /* Ensure full width */
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0; /* Ensure no margins */
}


.secondary-nav {
    width: 100%; /* Ensure full width */
    background-color: #ffffff;
    padding: 10px 0; /* Remove horizontal padding */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0; /* Ensure no margins */
}


.secondary-nav ul {
    max-width: 1200px; /* Or your desired width */
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}


.secondary-nav li {
    margin: 0 15px;
}


.secondary-nav a {
    font-size: 80%;
    text-decoration: none;
    color: gray;
    font-weight: 650;
}


.secondary-nav li {
    position: relative;
}


.secondary-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #00ff85, #0ff);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}


.secondary-nav a:hover::after {
    transform: scaleX(1);
}


#menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    gap: 1rem;
    padding-left: 5rem; /* Create gap between logo and first menu item */
}


#menu ul li {
    margin: 0 0.5rem;
}


#menu ul li a {
    font-size: 1.125rem;
    text-decoration: none;
    color: #ffffff;
    padding: 0.625rem;
    display: block;
    font-weight: bold;
}


#menu ul li a.active, #menu ul li a:hover {
    color: #007bff;
}



